@import "src/@fuse/scss/fuse";
    .page-layout{
        background-color: white;
    }
    .mat-icon{
        cursor: pointer !important
    }

    .formGroupStyle{
        margin:0px 10px;
        border-radius: 10px;
        padding: 0px 20px
    }
    .formRowStyle{
        margin:0px 0px -12px 0px;
    }
    .TileClass{
        padding: 10px 0px !important;
        cursor: pointer;
    }
    .successBgColor{
        background-image: linear-gradient(to right top, #1f551f, #2a7a2f, #33a240, #3acb52, #3ef666) !important;
    }
    .armyBgColor{
        background-image: linear-gradient(to right, #414d0b, #727a17) !important;
    }
    .primaryBgColor{
        background-image: linear-gradient(to right top, #00356a, #00659b, #0099c7, #12cfeb) !important;
    }

    .warningBgColor{
        background-image: linear-gradient(to right top, #aa690e, #bd8226, #d19c3b, #e3b652, #f6d169) !important;
    }

    .dangerBgColor{
        background-image: linear-gradient(to right top, #d10c25, #de353e, #ea5057, #f46870, #fd7f88) !important;
    }

    .textStyle{
        color:white !important;
        text-align: center !important;
    }
    .whiteFont{
        color: white;
    }
    .vertCenter{
        vertical-align: middle;
    }
    .titleClass{
        @extend .whiteFont;
        @extend .vertCenter;
        padding-left: 15%;
    }
    .subTitleClass{
        @extend .titleClass;
        border-left: 1px solid white;
    }
    .cntr{
        text-align: center;
        margin: 5px;
    }

    .add-config-button {
        // position: relative;
        // top: 168px;
        // left: 16px;
        background-color: #006666 !important;
        margin-right: 10px;
        z-index: 999;
    }
    .hbg {
        background-color: #006666 !important;
        color: white !important;
    }

    @mixin TableBorderRight($color) {
        border-right: 1px solid $color;
    }
    .TableCommon {
        padding: 5px 10px;
        font-size: 12px;
        min-width: 50px !important;
        white-space: nowrap;
    }
    
    .table-wrapper{
        overflow-x: scroll;
        table {
            width: 100%;
    
            th {
                @include TableBorderRight(gray);
                @extend .TableCommon;
                // min-width: max-content !important;
                color: white !important;
                background-color: #121214;
            }
    
            td {
                @include TableBorderRight(rgba(0, 0, 0, 0.12));
                @extend .TableCommon;
                // min-width: max-content !important;
                &.QtyClass {
                    text-align: right;
                }
                .mat-form-field-underline {
                    display: none;
                }
            }
    
            tr {
                height: 40px;
            }
    
            .mat-sort-header-container {
                display: flex;
                justify-content: flex-start;
            }
        }
    }
    .tableCellBorder {
        height: 20px;
        vertical-align: middle;
        width: 10px;
        background-color: #d87e39;
        opacity: 0.7;
    }
    .mat-form-field-wrapper {
        margin: 0 0 0 0;
        padding-bottom: 4px;
    }
    .mat-form-field-flex > .mat-form-field-infix {
        padding: 0em 0px 0.6em !important;
    }
    .mat-form-field-appearance-outline {
        .mat-form-field-suffix,
        .mat-form-field-prefix {
            top: 0.5em;
            .mat-icon-button {
                width: 1.5em;
                height: 1.5em;
            }
        }
    }
    .mat-form-field-infix {
        width: auto;
    }
    .mat-form-field-label-wrapper {
        top: -1.5em;
    }
    .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
        transform: translateY(-1.1em) scale(0.75);
        width: 133.33333%;
    }

