<div id="overview" class="page-layout carded" fusePerfectScrollbar>
    <div class="center" fxLayout="column" fxLayoutGap="10px">
        <!-- <div class="outer" fxLayout>
            <div class="bg"></div>
            <div>
                <h3 style="margin: 0px;padding-left: 10px;"><b>Overview</b></h3>
            </div>
            <div fxFlex align="end">
                <span><img src="assets/images/logo.svg" style="height: 40px;padding: 4px 15px 2px 0px;"></span>
            </div>
        </div> -->

        <div fxFlex class="mx-20 mt-24" fxLayout fxLayoutAlign="space-between stretch" fxLayoutGap="1%" *ngIf="!isExpanded"
            @expandCollapse>

            <div fxFlex="14%" class="enable-card py-12 px-16">
                <div class="enable-card-header"> {{enabledCount?.EnabledVendors}} </div>
                <div class="enable-card-item">Enabled Vendors</div>
            </div>

            <div fxFlex="14%" class="enable-card py-12 px-16">
                <div class="enable-card-header"> {{enabledCount?.EnabledCustomers}} </div>
                <div class="enable-card-item">Enabled Customers</div>
            </div>

            <div fxFlex="14%" class="disable-card py-12 px-16">
                <div class="disable-card-header"> {{disabledCount?.DisabledVendors}} </div>
                <div class="disable-card-item">Disabled Vendors</div>
            </div>

            <div fxFlex="14%" class="disable-card py-12 px-16">
                <div class="disable-card-header"> {{disabledCount?.DisabledCustomers}} </div>
                <div class="disable-card-item">Disabled Customers</div>
            </div>

            <div class="pt-12" fxFlex="39%">
                <form autocomplete="off" name="form" novalidate [formGroup]="searchFormGroup">
                    <div fxLayout="row" fxLayoutAlign="start center">
                        <mat-form-field appearance="outline" fxFlex>
                            <!-- <mat-icon class="mr-12" matPrefix>search</mat-icon> -->
                            <mat-label>Role</mat-label>
                            <!-- <input matInput formControlName="RoleID"> -->
                            <mat-select formControlName="RoleID">
                                <mat-option value="">All</mat-option>
                                <mat-option [value]="rol.RoleID" *ngFor="let rol of AllRoles">{{rol.RoleName}}
                                </mat-option>
                                <!-- <mat-option value="false">Disabled</mat-option> -->
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <!-- <div fxLayout="row" fxLayoutAlign="start center" class="mb-12">
                        <div fxFlex class="hrLine mx-4"></div>
                        <div class="smallRound"></div>
                        <div fxFlex class="hrLine mx-4"></div>
                    </div> -->
                    <div fxLayout="row" fxLayoutAlign="start center">
                        <mat-form-field appearance="outline" fxFlex>
                            <!-- <mat-icon class="mr-12" matPrefix>search</mat-icon> -->
                            <mat-label>Status</mat-label>
                            <mat-select formControlName="IsEnabled">
                                <mat-option value="">All</mat-option>
                                <mat-option value="true">Enabled</mat-option>
                                <mat-option value="false">Disabled</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div fxLayout="row" fxLayoutAlign="start center">
                        <div fxFlex align="end">
                            <button mat-raised-button class="SaveBtn" (click)="searchButtonClicked()">Search</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="px-20 pb-20">
            <div fxLayout="row" class="mt-16" fxLayoutAlign="start center">
                <div fxFlex="40" class="mt-4 sea">
                    <mat-form-field appearance="outline" style="width: 100%;">
                        <mat-icon class="mr-12" matPrefix>search</mat-icon>
                        <mat-label>Search</mat-label>
                        <input [(ngModel)]="searchText" matInput (keyup)="applyFilter($event)">
                    </mat-form-field>
                </div>
                <div fxFlex fxLayout="row wrap" fxLayoutGap="1%" fxLayoutAlign="end center">
                    <div *ngIf="!selection.hasValue() && (SelectedStatus==='All' || SelectedStatus==='false')">
                        <button (click)="enableAllClicked()" class="SaveOuterBtn" mat-stroked-button>
                            Enable All {{SelectedRole}}
                        </button>
                    </div>
                    <div *ngIf="!selection.hasValue() && (SelectedStatus==='All' || SelectedStatus==='true')">
                        <button (click)="sendMailToAllClicked()" class="SaveOuterBtn" mat-stroked-button>
                            Send Mail To All {{SelectedRole}}
                        </button>
                    </div>
                    <div *ngIf="!selection.hasValue() && (SelectedStatus==='All' || SelectedStatus==='true')">
                        <button (click)="disbleAllClicked()" class="SaveOuterBtn" mat-stroked-button>
                            Disable All {{SelectedRole}}
                        </button>
                    </div>
                    <div *ngIf="selection.hasValue() && (SelectedStatus==='All' || SelectedStatus==='false')">
                        <button (click)="enableSelectedClicked()" class="SaveOuterBtn" mat-stroked-button>
                            Enable Selected {{SelectedRole}}
                        </button>
                    </div>
                    <div *ngIf="selection.hasValue() && (SelectedStatus==='All' || SelectedStatus==='true')">
                        <button (click)="sendMailToSelectedClicked()" class="SaveOuterBtn" mat-stroked-button>
                            Send Mail To Selected {{SelectedRole}}
                        </button>
                    </div>
                    <div *ngIf="selection.hasValue() && (SelectedStatus==='All' || SelectedStatus==='true')">
                        <button (click)="disbleSelectedClicked()" class="SaveOuterBtn" mat-stroked-button>
                            Disable Selected {{SelectedRole}}
                        </button>
                    </div>
                    <!-- <button (click)="exportAsXLSX()" class="excelBtn" mat-stroked-button>
                        <img class="excelImg" src="assets/images/excel.png">
                    </button> -->
                    <img class="expandImg" src="assets/images/expand.png" (click)="expandClicked()">
                </div>
            </div>
            <div fxLayout="row wrap" class="mt-4" fxLayoutGap="1%" fxLayoutAlign="end center">

            </div>
            <table class="table" mat-table [dataSource]="overviewDataSource" matSort>

                <ng-container matColumnDef="Select">
                    <th mat-header-cell *matHeaderCellDef>
                        <mat-checkbox class="hcheck" (change)="$event ? masterToggle() : null"
                            [checked]="selection.hasValue() && isAllSelected()"
                            [indeterminate]="selection.hasValue() && !isAllSelected()">
                        </mat-checkbox>
                    </th>
                    <td mat-cell *matCellDef="let element;let odd=odd" class="tableLeftBorder pl-0">
                        <div fxLayout>
                            <div class="tableCellBorder" [style.background-color]="odd?'#6f52ed':'#d87e39'"></div>
                            <mat-checkbox (click)="$event.stopPropagation()"
                                (change)="$event ? selection.toggle(element) : null"
                                [checked]="selection.isSelected(element)">
                            </mat-checkbox>
                        </div>
                    </td>
                </ng-container>

                <ng-container matColumnDef="UserName">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        User Name </th>
                    <td mat-cell *matCellDef="let element;let odd=odd">
                        {{element.UserName}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="RoleName">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Role Name </th>
                    <td mat-cell *matCellDef="let element;">
                        {{element.RoleName}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="DisplayName">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Display Name </th>
                    <td mat-cell *matCellDef="let element;">
                        {{element.DisplayName}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="Email">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Email </th>
                    <td mat-cell *matCellDef="let element;">
                        {{element.Email}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="ContactNumber">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Contact Number </th>
                    <td mat-cell *matCellDef="let element;">
                        {{element.ContactNumber}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="IsEnabled">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Enabled</th>
                    <td mat-cell *matCellDef="let element;let i= index;">
                        {{element.IsEnabled}}
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="overviewDisplayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: overviewDisplayedColumns;">
                </tr>
            </table>

        </div>

        <div>
            <mat-paginator [pageSizeOptions]="[10, 20, 50, 100, 200, 500]"></mat-paginator>
        </div>

        <mat-progress-spinner *ngIf="IsProgressBarVisibile || IsProgressBarVisibile1 || IsProgressBarVisibile2"
            class="progressBarPostion" color="accent" mode="indeterminate">
        </mat-progress-spinner>
        <div id="overlay" *ngIf="IsProgressBarVisibile || IsProgressBarVisibile1 || IsProgressBarVisibile2"></div>
    </div>
</div>